<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>
<button class="btn btn-info" style="margin: 1em"><a href="/students/new">Add a Student</a></button>
